

/*All the styles related to your pages while go here */
/*ANUJA ABOUT PAGE STARTS FROM HERE*/


.outside-border {
  margin-top:250px;
  border: 1px solid black;
  width: 50%;
  min-height: 250px;
  margin-left: 83px;
}

.paragraph {
  width:100%;
  margin-top:217px;
  float:left;
  padding:5px;
  background: white;
}
.white-backgrd {
  background-color: white;
  float: left;
}
.img {

  width: 150px;
  height: 150px;
  margin: 45px;
  margin-left:555px;
  float: left;
}
.tech-container {
  width:250px;
  margin-top: 10px;
  float:left;
  padding:1px;
}
.photos img{
  width:19%;
  height: 19%;
  float: left;
  margin-left: 87px;
  font-size: :80%;
  text-align: center;
  padding-bottom: 0.5em;

}

.backgrd {
 background-color: white;
 float: left;
 margin-bottom:150px;
 height: 454px;

}
.about-text {
  width: 50%;
  height: 50%;
  float: left;
  margin-top: 50px;

}
.about-text1 {
  width:100%;
  float:left;
  margin:10%,0%,0%,10%;
  background-color:white;
  

}
.about-text2 {
  width:100%;
  float:left;
  margin-top: 120px;
  background-color: white;

}
.about-margin1 {
  margin-top: 40px;
  line-height: 32px;
  float: left;
}
.about-margin2 {
  margin-top: 4px;
  line-height:32px;
  float: left;
}
.about-title {
  text-align: center;
  margin-top: 110px;
  float: :left;
}

.about-compny-image img{
  float: left;
  position: relative;
  width: 100%;
  margin-bottom: 150px;

}
.aboutus-block {
  position: absolute;
  float:left;
  color: white;
  bottom: 20px;
  left: 20px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 347%;
  margin-bottom: 399px;
  margin-left:498px;
  animation: mymove 5s;
  animation-fill-mode:forwards;
}
@keyframes mymove {
  from {top: 0px;}
  to {top: 150px;}
}
.overview {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
  margin-top: 0px;
    margin-bottom: 14px;
    padding-left: 17px;
}
.about-photos img {
  width :150px;
  height:150px;
  float:left;
  margin-left: 20px;
}
.about-photos {
  width: 15%;
  float: left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.about-label{
  padding-left: 39px;
}
@media only screen and (max-width: 1024px) {
 
  .about-text1{
    width: 80%;
    margin: 10% 0% 0% 10%;

  }
 .aboutus-block {
    margin-left: 366px;


 }
 .about-text2{
  width: 80%;
    margin: 10% 0% 0% 10%;

 }
  
}



/*/*All the styles related to your pages while go here */

/*ASHISH HOME PAGE STARTS FROM HERE*/

body {
  background-image: url("../images/home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: inherit;
  background-size: cover;
}
footer{
  background-color:#22292F;
  width:100%;  
  margin:50px 0 3px 0;
  float: left;
  border:1px dotted gray;
}
.footer-li{
  list-style: none;
  float: left;
  padding-left: 70px;
}

.footer-links{
  text-decoration: none;
  color: white;
}
.left-div{
  background-color: #EEEEEE;
  width:49%;
  height: 490px;
  float:left;
  margin:5px;
  background-image: url("../images/left.png");
  background-repeat: no-repeat;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}
.right-div{
  background-color: #EEEEEE;
  width:49%;
  height: 490px;
  float:left;
  margin:5px;
  background-image: url("../images/right.png");
  background-repeat: no-repeat;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}
.iphone-other{
  width:100%;
  height: 500px;
  background-color:white;
  float:left;
  margin-top: 400px;
  margin-top: 200px;
}

.desc{
  font-family: arial;
  margin-top: 70px;
  font-size: 21px;
  line-height: 3;
  -webkit-animation: fadeinContent 2s;
       -moz-animation: fadeinContent 2s;
        -ms-animation: fadeinContent 2s;
         -o-animation: fadeinContent 2s;
            animation: fadeinContent 2s;
}
@keyframes fadein {
    from { opacity: 0; margin-top: 30px }
    to   { opacity: 1; margin-top: 5px; }
}
@keyframes fadeinContent {
    from { opacity: 0; margin-top: 100px }
    to   { opacity: 1; margin-top:70px; }
}
.heading-decs{
  font-family: arial;
  font-size: 21px;
  line-height: 2;
}

.link {
  text-decoration: none;
  font-family: arial;
  font-size: 21px;
  color: #0070c9;
  margin-left: 229px;
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

.iphone-six{
  width:100%;
  height:500px;
  background-color:white;
  float:left;
  margin-top:400px;
}
.intro{
  width:100%;
  height: 500px;
  background-color:white;
  float:left;
  margin-top: 400px;
}
.icon-space{
    padding-right: 3px;
    font-size: 13px;
}
/*PIYUSH PRODUCT PAGE STARTS FROM HERE*/

*{
  margin: 0px;
  padding: 0px;
}
.header{
  width: 100%;
  background: #2d2d2d;
  float: left;
}

.logo {
  float:left;
}

.logo i{

  margin: 20px 0px 0px 57px;
  color: white;
  font-size: 30px;
}

.about-footer {
  margin-top:0px;
}

.menu {
  float: left;
  margin-left: 37px;
}


.menu ul li{
  list-style: none;
  float: left;
  margin-top: 17px;
  padding-left: 35px;
  padding-top: 8px;
  padding-bottom: 14px;
  padding-right: 24px;
  cursor: pointer;
  margin-top: 15px;

}

.menu a {
  color:white;
  text-decoration: none;
  font-size: 20px;
}

.menu a:hover {
  color:grey;
}




.searchBar{
  float: right;
  margin-top: 19px;
  margin-right: 39px;
}

.searchBox{
  color: #2d2d2d;
  border-radius: 25px;
  height: 24px;
}

.button{

    background-color: transparent;
    color: white;
    border: 2px solid white;
    height: 25px;
    width: 50px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.parent {
  width: 100%;
  height: auto;
  float: left;
  background: white;
  margin-bottom: 50px;
}

.product{
	width:50%;
	float: left;
	padding-top: 50px;
}

.animationDot1{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: black;
  position: absolute;
  top:120px;
  left:284px;
  display: none;
  animation: dotOne 0.5s;
  animation-fill-mode: forwards;
}
.animationDot2{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: black;
  position: absolute;
  display: none;
  top:132px;
  left: 304px;
  animation: dotTwo 0.5s;
  animation-fill-mode: forwards;
}
.animationDot3{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: black;
  position: absolute;
  display: none;
  top:140px;
  left:325px; 
  animation: dotThree 0.5s;
  animation-fill-mode: forwards;
}

@keyframes dotOne
{
  from {top:120px;}
  to { top:114px;}
}
@keyframes dotTwo
{
  from {top:128px;}
  to { top:114px;}
}
@keyframes dotThree
{
  from {top:137px;}
  to { top:114px;}
}

.product-image:hover .animationDot1
{
  display: block;
}
.product-image:hover .animationDot2
{
  display: block;
}
.product-image:hover .animationDot3
{
  display: block;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.product2 {
  width:50%;
  float: left;
  padding-top: 50px;
  margin-bottom: 50px;
}


.product-image{
  float: left;
  position: relative;
}

.product-image img {
  width: 65%;
  height: 250px;
  margin-left: 100px;
}

.product-image img:hover{
  opacity:0.3;
}

.product-content {
  text-align: center;
  margin-top: 50px;
  float: left;
  margin-left: 125px;
}

.block-heading {
  margin-top: 50px;
}

.block-heading h1 {
  text-align: center;
}

.product-header {
  float: left;
  width: 100%;
  background: white;
}

.content-div {
  background-color:white;
  width:49%;
  height:490px;
  float:left;
  margin:5px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.dropdown-icon {
  display: none;
}

@media only screen and (max-width: 1024px) {

.product-header {
  width: 100%;
}

.parent {
  width: 100%;
}

.product {
  width: 80%;
  margin:0 auto;
  text-align: center;
}

.product-content {
  float: left;
  margin: 74px 0px 95px 271px;
}

.animationDot1 {
  left:425px;
}

.animationDot2 {
  left:450px;
}

.animationDot3 {
  left:476px;
}

.searchBar {
  margin: 10px 0px 0px 343px;
  float: left;
}

.logo i {
  margin: 11px 0px 4px 25px;
}

.dropdown-icon {
  width: 27px;
  display: block;
  color: white;
  font-size: 30px;
  padding: 6px 12px;
  float: right;
  margin-right: 23px;
}

.menu {
  width: 80%;
  display: none;
}
.menu ul {
  position: relative;
  width: 100%;
}





}


/*KALPESH CONTACT PAGE STARTS FROM HERE*/

.contact_whitebackgrd{
  background-color:#1e272e;
}
.contact_backgrd{
  background-color:#1e272e;
}

.contact-body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.contact-container1 {
  padding: 16px;
  background-color: white;
  width:60%;
  margin-right:20%;
  margin-top:5%;
  float:right;
}

.contact-name,.contact-email,.contact-mobile {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.sendmsg {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.sendmsg:hover {
  opacity: 2;
}


.contact-textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.dropdownmenu ul {
  background: #2d2d2d;
  float: left;
}
  
.dropdownmenu li {
  float: left;
  position: relative;
  list-style: none;
  color: white;
}

.dropdownmenu a {
  display: block;
  text-decoration: none;
  padding: 5px 15px;
}

.dropdownmenu ul ul {
  position: absolute;
  left: 0;
  top: 100%;
  visibility: hidden;
  opacity: 1;
  margin-left:25px;

}
  
.dropdownmenu ul ul ul {
  left: 80%;
  top: -16px;
}
   
.dropdownmenu li:hover, .dropdownmenu li:hover li {
  color:white;
}
  
.dropdownmenu li li:hover, .dropdownmenu li li:hover li {
  background: #2d2d2d;
}
  
.dropdownmenu li li li:hover {
  background: #2d2d2d;
}    
  
.dropdownmenu li:hover > ul {
  visibility: visible;
  opacity: 1;
}   
   /*footer property started from here*/

.fdivisionone {
  width:50%;
  float:left;
}

.fdivisionone .divone {
  padding-top: 10px;
}

.divone {
  width:13%;
  padding-left: 8%;
  padding-top:5px;
  color:white;
  list-style-type:none;
}

.divone li a {
  color:white;
  text-decoration:none;  
}
 
.apple  {
  font-size:20px;
 
} 

.divone li {
  padding:2px 0px;
  
}

.divtwo { 
  margin-left: 152px;
  margin-top: -120px;
  padding-left: 29%;
  color:white;
  list-style-type:none;
 }

.divtwo .business {
  font-size:20px;
}

.business {
  margin:12px 0px;
 }

 .fdivisiontwo {
  width: 45%;
  float:right;
  /*padding-left: 500px;*/
}

.divthree {
  padding-top: 13px;
  color:white;
  list-style-type:none;
  width:28%;
}

.divthree .Gettouch {
  font-size:20px;
}

.Gettouch {
  margin:12px 0px;
}

.divfour a {
  color:white;
  text-decoration:none;
}

.divfour {
  margin-left: 152px;
  margin-top: -105px;
  padding-left: 29%;
  color:white;
  list-style-type:none;
 }

.divicon li {
  display:inline;
  float: left;
  margin: 0 20px 10px 0;
  padding-top: 10px;
}

.divicon li:hover {
  color: #444c47;
  border: 1px dotted gray;
  display:inline-block;
} 
.divicon li:hover i {
  color:gray;
}
@media only screen and (max-width: 1024px) {
.contact-container1 {
  width: 80%;
  margin: 0 auto;
  margin-left: 9%;
  margin-top: 29%;
  float: left;
 }
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/*SAGAR WHATS NEW PAGE STARTS FROM HERE
Banner image and slide show
*/
.banner-image {
  background-color: #fff;
  height: 400px;
  float: left;
  width: 100%;
}
.ban-image {
  width: 100%;
  height: 400px;
}
.bannertext {
  width: 30%;
  color: #000;
  font-size: 50px;
  position: absolute;
  top: 20%;
  float: left;
  margin-left: 20PX;
  font-family: sans-serif;
}

.slide-show-images {
  background-color: #D3D3D3;
  margin-top: 200px;
  float: left;
  width: 100%;
}

.slideshow {
  width: 625px;
  margin: 0 auto;
  overflow: hidden;
}
.slideshow-container {
  width: 2500px;
  transition: 1s ease;
}
.slideshow-container:hover {
  animation-play-state: paused;
}

.image-slide-show {
  width: 625px;
  height: auto;
  display: inline-block;
}
.slide {
  animation: slide 24s ease infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  12.5% {
    transform: translateX(0%);
  }

  25% {
    transform: translateX(-25%);
  }

  37.5% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }

  62.5% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-75%);
  }

  87.5% {
    transform: translateX(-75%);
  }

  99% {
    transform: translateX(-75%);
  }

  100% {
    transform: translateX(0);
  }
}

